<?xml version="1.0"?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DQPGS" connectionString="Data Source=DESKTOP-HFNMU86\SQLEXPRESS; Initial Catalog=DQPGS;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="QPGS.Properties.Settings.QPGSmdfConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QPGSmdf.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="QPGS.Properties.Settings.DQPGSConnectionString" connectionString="Data Source=DESKTOP-HFNMU86\SQLEXPRESS;Initial Catalog=DQPGS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
